UN_XML_URL=https://scsanctions.un.org/resources/xml/en/consolidated.xml
EU_XML_URL=https://webgate.ec.europa.eu/fsd/fsf/public/files/xmlFullSanctionsList_1_1/content
https://paco7public7info7prod.blob.core.windows.net/paco-pulic-info/antecedentes_SIRI_sanciones_Cleaned.zip
PACO_SIRI_ZIP_URL=https://paco7public7info7prod.blob.core.windows.net/paco-pulic-info/antecedentes_SIRI_sanciones_Cleaned.zip
PACO_FGN_CSV_URL=https://paco7public7info7prod.blob.core.windows.net/paco-pulic-info/sanciones_penales_FGN.csv
WORLDBANK_DEBARRED_URL=https://projects.worldbank.org/en/projects-operations/procurement/debarred-firms
WORLDBANK_MAX_PAGES=200
WORLDBANK_TIMEOUT_SEC=30
OFAC_SDN_XML_URL=https://sanctionslistservice.ofac.treas.gov/api/PublicationPreview/exports/SDN_ENHANCED.XML